/*img{
  padding: 1em;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}*/
.menu {
  margin-top: 0 !important;
}

.segments, .menu .header{
  width: 1048px;
  margin: 0 auto !important;
}


.segments{
  margin-bottom: 47px !important;
}

.repos.list {
  min-height: 223px;
  padding-bottom: 10px !important;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
